.feed {
  flex: 0.9;
  margin-left: 1%;
  margin-top: 3%;
  padding: 5px;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 25px;
  overflow: hidden;
  width: 100%;
  margin: 5px;
  padding: 5px;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

.search-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0056b3;
}
